@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}
@keyframes float-reverse {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(10px);
	}
	100% {
		transform: translatey(0px);
	}
}

.float-anima {
	animation: float 6s ease-in-out infinite;
}

.float-anima-reverse {
	animation: float-reverse 6s ease-in-out infinite;
}
