html.lenis {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: hidden;
}

.scroll-video_media {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.custom-progress::after {
	transition: transform 0.3s ease;
}

// HEADER
.nav_component.is-scroll {
	background: rgba(12, 17, 29, 0.6);
	backdrop-filter: blur(16px);
}

// MAIN SWIPER
html:not(.site-scrollbar) {
	.main-swiper > .swiper-wrapper > .swiper-slide {
		opacity: 0 !important;
		&-active {
			opacity: 1 !important;
		}
	}
}

// SWIPER DEPOIMENTOS
.swiper-depoimentos {
	.swiper-slide {
	}
}

// ACCORDION
.accordion_item {
	.accordion_item-body {
		transition: all 0.3s ease;
	}
	&[data-expand="true"] {
		.accordion_item-heading {
			.accordion_item-title {
			}
			.btn-expand {
				.line-vertical {
					width: 0;
					opacity: 0;
				}
			}
		}
		.accordion_item-body {
			height: auto;
			max-height: 100vh;
			opacity: 1;
			visibility: visible;
			padding-top: 2rem;
			padding-bottom: 2rem;
		}
	}
}

// TITLE GRADIENT
.title-gradient .word .char {
	background-image: linear-gradient(0deg, var(--base-color-brand--red-lightest), white);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
}

// PAGE CONTENT
.page-content {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 1rem;
	}
	p {
		margin-bottom: 1rem;
	}
}

// MENU SOLUCOES
.menu-solucoes_overlay.open {
	opacity: 1;
	transform: translate(0, 0);
}

.menu-solucoes_item-icon video {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
