// BUTTON GLOW
@property --angle {
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}

@keyframes glowing-button_line-anim {
	0% {
		--angle: 0deg;
	}
	100% {
		--angle: 360deg;
	}
}

// DEFAULT
.button {
	--line-opacity: 0.2;
	--line-width: 1px;
	--line-color: var(--base-color-neutral--neutral);
}
.button-effect {
	--line-width: 1px;
	&:after,
	&:before {
		content: "";
		position: absolute;
		inset: 0;
		border-radius: inherit;
		padding: var(--line-width);
		background: conic-gradient(from var(--angle), transparent 0, var(--line-color) 40%, transparent 45%);
		-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
		mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
		mask-composite: xor;
		-webkit-mask-composite: xor;
		mask-composite: exclude;
		animation: glowing-button_line-anim 6s linear infinite;
		opacity: 1;
	}
}

// RED
.button.is-red {
	--line-color: var(--base-color-brand--red);
}

// WHITE
.button.is-white {
	--line-color: white;
}
