.card-glass,
.box-glass {
	&:after,
	&:before {
		content: "";
		position: absolute;
		border-radius: inherit;
		pointer-events: none;
	}
	&:before {
		border: 1px solid var(--alpha-color-brand--red-10);
		left: 0;
		top: 0;
		width: calc(100% - 2px);
		height: calc(100% - 2px);
	}
	&:after {
		inset: 0;
		box-shadow: inset 0 1px 1px 0 rgba(234, 199, 199, 0.12), inset 0 24px 48px 0 rgba(234, 199, 199, 0.08);
	}
}
